body {
	width: 800px !important;
	margin: none;
	text-align: center;
	width: 100%;
	background-image: linear-gradient(100deg, #222, #333);
	color: white;
	font-family: comfortaa;
	overflow: hidden;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-width: 500px;
	height: 400px !important;
	padding: 1px;
	text-align: left;
}

@font-face {
 font-family: 'comfortaa';
 src: url('fonts/Comfortaa/static/Comfortaa-Light.ttf');
}

label {

	font-size: 20px;

}
input[type="text"]{
	background-color: #00000000;
    display: inline-block;
	border: solid;
	border-color: rgba(255, 255,  255, 1);
	box-shadow: 0 0 1px 0px white inset, 0 0 1px 0px white;
	border-width: 1px;
	border-radius: 25px;
	padding: 5px;
	padding-right: 5px;
	padding-left: 15px;
	font-size: 15px;
	color: white;
	font-family: comfortaa;
	outline: none;
   	margin-top:5px;
   	width: 50px;
}
.wide {
    width: 200px;
}
#popupTitle {
        display: inline-block;
	font-size: 20px;
}
#links {
    display: inline-flex;
    flex-direction: column;
}

#shorthand {
    display: inline-flex;
    flex-direction: column;
}
    

